# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\studium\Master\18_2021_2022_WS\SmartGraphics_WS_21_22\Praxisprojekt_KlassifizierungZiffern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
